In [1]:
from __future__ import (absolute_import, division,
print_function, unicode_literals)
from builtins import *

In [2]:
print(3+2)

5

In [3]:
print(3-2)

1

In [4]:
print(3 / 2)

1.5

In [5]:
print(3 ** 2)

9

In [6]:
standard_order = 2 + 3*4
print(standard_order)
my_order = (2 + 3)*4
print(my_order)

14
20

In [7]:
print(.1 + .1)

0.2

In [9]:
print("|{0}| = {1}".format(complex(2, 3), abs(complex(2, 3))))

|(2+3j)| = 3.605551275463989

In [11]:
print("{0} * {1} = {2}".format(complex(1, 1), complex(2, 3), complex(1, 1) *
complex(2, 3)))

(1+1j) * (2+3j) = (-1+5j)

In [12]:
print(1.1/3)

0.3666666666666667

In [13]:
from decimal import Decimal
from decimal import getcontext
getcontext().prec = 3
Decimal('4') / 3 == Decimal('1.33')

True

In [14]:
from decimal import Decimal
from decimal import getcontext
getcontext().prec = 2
print(Decimal('1.10') / 3)

0.37

In [15]:
print(7/71)
print(7/71*71 == 7)

0.09859154929577464
False

In [16]:
from fractions import Fraction
print(Fraction(7, 71) * 71 == 7)

True

In [17]:
my_string = "This is a double-quoted string."
my_string = 'This is a single-quoted string.'

In [22]:
quote = "Linus Torvalds once said, 'Any program is only as good as it is useful'"

In [23]:
first_name = 'eric'
print(first_name)
print(first_name.title())

eric
Eric

In [24]:
print(first_name)
print(first_name.title())
print(first_name.upper())
first_name = 'Eric'
print(first_name.lower())

eric
Eric
ERIC
eric

In [25]:
first_name = 'ada'
last_name = 'lovelace'
full_name = first_name + ' ' + last_name
print(full_name.title())

Ada Lovelace

In [26]:
message = full_name.title() + ' ' + "was considered the world's first computer programmer."
print(message)

Ada Lovelace was considered the world's first computer programmer.

In [27]:
print("Hello everyone!")

Hello everyone!

In [28]:
print("\tHello everyone!")

	Hello everyone!

In [29]:
print("Hello \teveryone!")

Hello 	everyone!

In [30]:
print("Hello everyone!")

Hello everyone!

In [31]:
print("Hello!")
print("\nHello everyone!")

Hello!

Hello everyone!

In [32]:
print("Hello \neveryone!")

Hello
everyone!

In [33]:
print("\n\n\nHello everyone!")

Hello everyone!

In [34]:
name = ' eric '
print(name.lstrip())
print(name.rstrip())
print(name.strip())

eric
 eric
eric

In [35]:
print('-' + name.lstrip() + '-')
print('-' + name.rstrip() + '-')
print('-' + name.strip() + '-')

-eric -
- eric-
-eric-

In [36]:
name = ',,eric,,'
print('-' + name.lstrip(',') + '-')
print('-' + name.rstrip(',') + '-')
print('-' + name.strip(',') + '-')

-eric,,-
-,,eric-
-eric-

In [37]:
"we bought a new house and we are happy".find("we")

0

In [38]:
"we bought a new house and we are happy".rfind("we")

26

In [39]:
"we bought a new house and we are happy".index("we")

0

In [40]:
"we bought a new house and we are happy".index("land")

ValueError: substring not found

In [41]:
"we bought a new house and we are happy".rindex("we")

26

In [42]:
"we bought a new house and we are happy".rindex("land")

ValueError: substring not found

In [46]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [47]:
"we bought a new house".replace("house", "building")

'we bought a new building'

In [48]:
"bla bla bla".replace("bla", "wow", 3)

'wow wow wow'

In [49]:
"hello#$great#$to#$see#$you".split("#$")

['hello', 'great', 'to', 'see', 'you']

In [50]:
",".join(["Ann", "Leo", "Tiffany"])

'Ann,Leo,Tiffany'

In [52]:
personal_data = {1: ("Ann", 29, "Artist"),
2: ("Leo", 54, "Programmer"),
3: ("Tiffany", 43, "Shop Assistant")}
for (name, age, occupation) in personal_data.values():
    print("{0} (age {1}) is a {2}".format(name, age, occupation))

Ann (age 29) is a Artist
Leo (age 54) is a Programmer
Tiffany (age 43) is a Shop Assistant